*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   }   
   
   /* header */ 
   .ContentWrapper {
    align-items:normal;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255) ;    
   }


   .head{
    padding: 3vw;
    padding-left: 20vw;
    padding-bottom: 0.5vw;
    font-size: 3.5vw;
    color: #397956;
   }
   .items{
    width: 100%;
    border-bottom: 0.2vw solid #000;
   }
   .items div>p{
    width: auto;
    color: #623E3E;
    font-size: 1.5vw;
    font-weight: bold;
   }
   .cart{
    padding-left: 7vw;
    display: flex;
   }

   .content{
    padding-top: 0.1vw;
    width: 43vw;
    padding-bottom: 1vw;

   }
   .container{
   padding-left: 20%;
   }

   .in{
    display: flex;
    padding-top: 0.1vw;
}

.in >div>img{
    width: 9vw;
    height:80%;
}
.img{
    border: 0.2vw solid #000;
    border-radius: 1vw;
    width: 22vw;
    height: 17vw;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .ins{
    padding-left: 1vw;
    padding-top: 1vw;
    width: 100%;
   }

   .tagCon{
    display: flex;
   }

   .ins >div>p1 {
    font-size: 2vw;
    color: #397956;
    font-weight: bold;
   }
   .insd{
    display: flex;
    justify-content: space-between;
   }
   .insd >p{
   text-decoration: none;
   color: #000;
   font-size: 1.2vw;
   }
   .insd >p>a{
    text-decoration: none;
    font-size:1.1vw;
    width: 2.1vw;
    height: 2.1vw;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #397956;
    border-radius: 0.5vw;
   }

   .conTotal{
    width: 100%;
    
}

.total{
     display: flex;
     justify-content: space-between;
    width: auto;

 }

 .t{
    padding: 0.3vw;
 }

 .tot {
    background-color: #397956;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-weight: bold;
    border-radius: 1vw;
    height: 3vw;
    text-decoration: none;
    color: #ffffff;
    font-size:1vw ;
 }
 
.check{
    background-color: #397956;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-weight: bold;
    border-radius: 1vw;
    height: 3vw;
    text-decoration: none;
    color: #ffffff;
    font-size:1.3vw ;
    
}

.check:hover{
    background-color: #2e6346;
    color: #ffffff;
    }

    .size{
        font-size: 1.2vw;
    }